/* Reset css  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}


/* HTML5 hidden-attribute fix for newer browsers */

*[hidden] {
    display: none;
}

menu,
ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

input:focus,
textarea:focus {
    outline: none;
}


/* Font css  */

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-Black.woff2') format('woff2'), url('../font/Inter-Black.woff') format('woff'), url('../font/Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-ExtraLight.woff2') format('woff2'), url('../font/Inter-ExtraLight.woff') format('woff'), url('../font/Inter-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-ExtraBold.woff2') format('woff2'), url('../font/Inter-ExtraBold.woff') format('woff'), url('../font/Inter-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-Bold.woff2') format('woff2'), url('../font/Inter-Bold.woff') format('woff'), url('../font/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-Light.woff2') format('woff2'), url('../font/Inter-Light.woff') format('woff'), url('../font/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-Medium.woff2') format('woff2'), url('../font/Inter-Medium.woff') format('woff'), url('../font/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-Regular.woff2') format('woff2'), url('../font/Inter-Regular.woff') format('woff'), url('../font/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-SemiBold.woff2') format('woff2'), url('../font/Inter-SemiBold.woff') format('woff'), url('../font/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../font/Inter-Thin.woff2') format('woff2'), url('../font/Inter-Thin.woff') format('woff'), url('../font/Inter-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


/* commen css  */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    color: #747384;
    line-height: 1.4;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    color: #14131E;
    line-height: 1.3;
    margin-bottom: 16px;
}

h1 {
    font-size: 54px;
    font-weight: 600;
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

h5 {
    font-size: 20px;
    font-weight: 400;
}

h4 {
    font-size: 30px;
}

p {
    font-size: 14px;
    font-weight: 400;
    color: #9F9FAB;
}

a {
    color: #9747FF;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    color: #2FDD92;
}

label {
    color: #14131E;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 400;
    display: block;
}

input {
    width: 100%;
    border: solid 1px #9F9FAB;
    border-radius: 8px;
    height: 43px;
    width: 100%;
    background-color: #fff;
    padding: 5px 15px;
}

input:focus {
    border: solid 1px #202020;
}

img {
    max-width: 100%;
    width: auto;
}

picture {
    display: block;
}

.button-green {
    padding: 15px 64px;
    justify-content: center;
    align-items: center;
    border: solid 2px #2FDD92;
    background-color: #2FDD92;
    color: #fff;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1;
}

.button-green:hover {
    background-color: #fff;
    color: #2FDD92;
}


/* wrapper */

.wrapper {
    max-width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
}

.login-parent {
    display: flex;
    align-items: center;
}

.login {
    min-height: 850px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 60px;
    background-image: url(../img/bg.jpg);
}

.login-text {
    padding: 110px 50px 145px;
    background: rgb(255, 255, 255, 0.6);
    background-image: url(../img/bg2.jpg);
    background-blend-mode: lighten;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100%;
}

.login-text-heading {
    margin-bottom: 24px;
}

.login-text-para {
    padding-left: 5px;
    max-width: 400px;
}

.login-form {
    padding: 100px 135px;
}

.login-form p {
    margin-bottom: 40px;
}

.login-logo {
    margin-bottom: 40px;
}

.login-logo-text img {
    position: relative;
    top: 3px;
}

.login-logo-text.forget img {
    margin-left: 12px;
}

.login-form-feilds {
    margin-bottom: 50px;
}

.form-group {
    margin-bottom: 15px;
}

.form-checkbox {
    position: relative;
}

.form-checkbox label {
    padding-left: 30px;
}

.form-checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
}

.form-checkbox span {
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;
    border: solid 1px #747384;
    z-index: 1;
}

.form-checkbox span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 18px;
    width: 18px;
}

.form-checkbox span::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 12px;
    margin: 2px 7px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

.form-checkbox input:checked+span::after {
    content: '';
}

.form-checkbox input:checked+span {
    border: solid 1px #287dfa;
}

.form-checkbox input:checked+span::before {
    background-color: #287dfa;
}

.button-group {
    margin: 50px 0;
}

@media(min-width:768px) {
    .button-group--create {
        margin-top: 60px;
    }
}

@media(max-width:1366px) {
    .wrapper {
        padding: 0 15px;
    }
    .login-form {
        padding: 100px;
    }
    .login-text-heading {
        font-size: 52px;
    }
}

@media(max-width:1023px) {
    .login {
        padding: 100px 30px;
        min-height: initial;
    }
    .login-form {
        padding: 80px 50px;
    }
    .login-text-heading {
        font-size: 40px;
    }
    .login-text {
        padding: 100px 30px;
    }
    .login-text-para {
        max-width: initial;
    }
}

@media(max-width:991px) {
    .login-text {
        padding: 50px 30px;
    }
    .login-form {
        padding: 50px 30px;
    }
}

@media(max-width:767px) {
    .login-text-heading {
        font-size: 34px;
    }
    .login-logo {
        text-align: center;
    }
    .login-form p,
    .login-logo {
        margin-bottom: 30px;
    }
    .button-group {
        margin: 40px 0;
    }
    .login {
        padding: 50px 30px;
    }
    .login-text {
        padding: 30px;
    }
}

@media(max-width:414px) {
    .login-parent>.row>.col-md-6 {
        padding: 0;
    }
    .login {
        padding: 50px 15px;
    }
}